<div class="timy-div">
    <div class="table-div" (click)="viditelneDni()"></div>
    <div *ngFor="let t of timyViditelne" class="table-div" (click)="timClick( t )">
        <img *ngIf="loga" [src]="'assets/logos/'+t.logo" />
        <div *ngIf="!loga">{{t.kod}}</div>
    </div>
</div>
<div #dniDiv class="dni-div">
    <div *ngFor="let d of dniViditelne" class="den-div">
        <div class="table-div" (click)="loga = !loga" [style.backgroundColor]="denVTyzdni( d ) == 'ne' ? '#213892' : 'transparent'">
            <div>{{formatDatum( d )}}</div>
            <div>{{denVTyzdni( d )}}</div>
        </div>
        <div *ngFor="let t of timyViditelne" class="table-div">
            <zapas [den]="d" [tim]="t" [logo]="loga"></zapas>
        </div>
    </div>
</div>