<div class="timy-div">
    <div class="table-div" (click)="viditelneDni()"></div>
    <div *ngFor="let t of timyViditelne" class="table-div" (click)="timClick( t )">{{t.kod}}</div>
</div>
<div class="dni-div">
    <div *ngFor="let d of dniViditelne" class="den-div">
        <div class="table-div">
            <div>{{formatDatum( d )}}</div>
            <div>{{denVTyzdni( d )}}</div>
        </div>
        <div *ngFor="let t of timyViditelne" class="table-div">
            <zapas [den]="d" [tim]="t"></zapas>
        </div>
    </div>
</div>